html {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  line-height: 1.5em;
  padding: 0 55px 22px 55px;
  color: #0B1531;
}

h1 {
  text-transform: uppercase;
  border-bottom: 1px solid #DDDDDD;
  margin-top: 22px;
  margin-bottom: 44px;
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

:link, :visited {
  color: #3399FF;
}

blockquote {
  color: #999999;
}

body > footer {
  font-size: 11px;
  color: #999999;
  text-align: center;
  line-height: 16px;
}

.post > header {
  color: #999999;
}

.post > header a {
  color: #0B1531;
}

.post > header h2 {
  font-size: 33px;
  font-weight: normal;
  margin-bottom: 11px;
}

.post > header p {
  margin-top: 0;
}

/* standard */
.post pre {
  border: 1px solid #DDDDDD;
  background-color: #EEEEFF;
  padding: 0 0.4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #DDDDDD;
  background-color: #EEEEFF;
  padding: 0 0.2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000000;
  background-color: #333333;
  color: #FFFFFF;
}

.post pre.terminal code {
  background-color: #333333;
}

.post .footnotes ol {
  padding-left: 0;
}

.post .footnotes li p {
  margin-top: 6px;
  margin-bottom: 6px;
}
