/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  line-height: 1.5em;
  padding: 44px 55px;
  color: #111316;
}

h1 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

:link, :visited {
  color: #111316;
}

:link, :visited {
  color: #990000;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post header a {
  color: #111316 !important;
}

.post header time {
  text-transform: uppercase;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
